.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevBtn,
.nextBtn {
  display: block;
  width: 10px;
  height: 14px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.prevBtn {
  background-image: url('../../assets/images/svg/array_left.svg');
}

.nextBtn {
  background-image: url('../../assets/images/svg/array_right.svg');
}

.prevBtn:disabled,
.nextBtn:disabled {
  cursor: auto;
}

.title {
  width: 120px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black-text-color);
  margin: 0 5px;
}
